[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
gunicorn = "==20.1.0"
pytesseract = "==0.3.7"
tesserocr = "==2.5.1"
opencv-python-headless = "==4.4.0.40"
opencv-contrib-python = "==4.5.1.48"
numpy = "==1.18.1"
numpydoc = "==0.9.2"
Flask = "==2.0.0"
Flask-SQLAlchemy = "==2.5.1"
Pillow = "==7.0.0"

[dev-packages]

[requires]
python_version = "3.8"
