<!DOCTYPE html >
<html>
    <head > 
      <meta http-equiv="content-language" content="en">
      <meta charset="UTF-8"> 
      <!-- <meta charset="ISO-8859-1"> -->
       <!-- <link rel="icon" href="data:;base64,=">  -->
       
    </head>
    <header>
        <title>OCR</title>
        
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/index.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/base.css') }}">
    </header>
       
       <body>
            <div class="page-title" >
                <h1>OCR DETECTION</h1>
                <p>Please provide an image( a jpeg/jpg/png... file) and the image type(a number)</p>
            </div>
            
            <a id="link" href="/" >
                <img id="error-image" href='/' src="/static/error.png" onclick="window.open(this.href)">
            </a>   
        
            <button id="er-btn" class ="btn" align="center" onclick="location.href='/';">Try Again</button>

            
      

       <!-- <script src="{{ url_for('static', filename='js/main.js') }}"></script> -->
       </body>
</html>

